# Ignore compiled files
*.o
*.out
*.exe

# Ignore log files
*.log

# Ignore temporary files
*.tmp
*.swp

# Ignore build directory
/build

# Ignore specific files
myprogram

# Ignore zip files
*.zip

# Ignore input and output files
input.txt
output.txt

#Ignore vscode task config files
*.vscode